* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Skranji', cursive, sans-serif;
}

.container {
  width: max(360px, 100%);
  min-height: 100%;
  background-image: url(../img/paper-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: absolute;
  top: 0;
}

h1 {
  font-size: clamp(1.3em, 2vw, 2em);
  text-align: center;
  margin-top: 0.5em;
  text-decoration: underline;
  letter-spacing: 3px;
}

h4 {
  width: 50%;
  margin: 0 auto;
  font-size: clamp(0.7em, 1vw, 1.5em);
}

.recipe-img {
  width: clamp(100px, 20%, 200px);
  aspect-ratio: 1/1;
  box-shadow: 0 0 20px;
  filter: sepia(100%);
  transition: 0.3s;
  cursor: pointer;
  margin-top: -1em;
  border-radius: 50%;
}

.recipe-img:hover {
  filter: none;
  box-shadow: 0 0 10px;
}

.ingredients {
  margin-top: -0.5em;
}

.el {
  font-weight: bold;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 0.5em;
}

ol {
list-style-position: inside;
}

li {
  margin: 0 auto;
  width: 50%;
  font-size: clamp(0.7em, 1vw, 1em);
}

.arrow-img {
  width: clamp(50px, 100px, 120px);
  margin-top: 3em;
}

.arrow-img.left {
transform: rotateY(180deg);
margin-right: 5%;
}

.arrow-img.left:hover {
  transform: rotateY(180deg) scale(1.1);
}

.arrow-img.right:hover {
  transform: scale(1.1);
}
