 * {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
 }

body {
    background-color: rgb(202, 189, 114);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

 h1 {
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    border-bottom: 3px solid rgb(90, 78, 8);
    color: rgb(90, 78, 8);
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    text-shadow: 0 0 10px  gold;
 }

 .container {
    width: 500px;
    margin: 200px auto;
    text-align: center;
    border: solid 20px rgb(90, 78, 8);
    padding: 50px; 
    background-color:rgb(90, 78, 8);
    box-shadow: 0 30px 0 -20px rgb(90, 78, 8),
                0 60px 0 -40px rgb(90, 78, 8),
                0 90px 0 -60px rgb(90, 78, 8),
                0 -30px 0 -20px rgb(90, 78, 8),
                0 -60px 0 -40px rgb(90, 78, 8),
                0 -90px 0 -60px rgb(90, 78, 8);
            }

 .container li {
    margin-bottom: 10px;
 }

 .container a {
    color: gold;
    font-size: 24px;
 }

.container::after {
    content: "";
    width: 80px;
    height: 400px;
    background-color: rgb(90, 78, 8);
    position: absolute;
    top: 600px;
    left: 47.5%;
    margin-bottom: 100px;
}

  .left-side {
    position: absolute;
    top: 35px;
    left: 150px;
 }

 .right-side {
    position: absolute;
    top: 35px;
    right: 150px;
 }
